@import './base.css';
/* Start header*/

.header {
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25);
    padding: 20px 0;
    background-color: #fff;

}
.header .header__logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.header .header__logo img{
    width: 35px;


}

.header .header__logo a{
    color:var(--mainColor);
}

.nav ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.header .nav a{
    color: #101928;
}
.header .aurh a{
    font-family: var(--subFont);
    padding: 10px 30px;
    border-radius: 5px;
}

.header .aurh a:first-of-type{
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
}

.header .aurh a:last-of-type{
    background-color: var(--mainColor);
    color: #fff;
}

@media  (max-width: 992px) {
    .nav{
        display: none;
    }

}
/* End header*/

/* Start testimonial */
.testimonials{
    text-align: center;
    padding: 40PX 0;

}
.testimonials h2{
    margin-bottom: 30px;
}

.testimonials .row{
    gap: 40px;
    flex-wrap: wrap;

}
.testimonial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc( (100% - 40px ) / 2);
    align-items: flex-start;
    box-shadow: 0px 14.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;


}

.testimonial::after{
    content: '';
    border-top: 40px solid #a3a3a3;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 0;
    right: 0;


}
.testimonial .user-info{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;

}
.testimonial .user-info img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}
.testimonial .user-info .user-data span{
    font-size: 12px;
    color: #969696;
}
.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
.testimonial  q{
    color: #646464;
}
.testimonial blockquote p{
    display: inline-block;
    padding: 0 4px;
}
/* End testimonial */


/* Start footer*/

.footer{
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}
.footer a{
    color: #fff;
   

}
.footer .row{
    gap: 40px;
}
.footer .footer-start , .footer .footer-end
{
    width: calc( (100% - 40px ) / 2);

}
.footer-start {
    display: flex;
   flex-direction: column;
   gap: 30px;
   flex-wrap: wrap;
}
.footer .footer-start .header__logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .footer-start .header__logo img{
    width: 35px;

}
.footer .footer-start .header__logo a{
    font-size: 14px;
}
.footer .footer-start p{
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 200px;
}
.footer .footer-start .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;


}
.footer .footer-start .icons img{
    border: 1px solid #fff;
    
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: content-box;
}

.footer .footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer .footer-end .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;


    
}
.footer .footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 9px;

}
/* End footer*/
